<?php showViewsByPower() ?>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <!--[if lte IE 8]>
    <script type="text/javascript" src="__PUBLIC__/vendor/ie8/es5-shim.min.js"></script>
    <![endif]-->
    <link href="__PUBLIC__/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="__PUBLIC__/vendor/chosen/chosen.css" rel="stylesheet">
    <link href="__PUBLIC__/css/tablepublic.css" rel="stylesheet">
    <script src="__PUBLIC__/vendor/jquery/jquery1.11.1.js"></script>
    <script src="__PUBLIC__/vendor/bootstrap/js/bootstrap.js"></script>
    <script src="__PUBLIC__/vendor/chosen/chosen.jquery.js"></script>
    <script src="__PUBLIC__/vendor/My97DatePicker/WdatePicker.js"></script>
    <script src="__PUBLIC__/vendor/ie8/jquery.form.js"></script>
    <script src="__PUBLIC__/vendor/chosen-ajax-addition/chosen.ajaxaddition.jquery.js"></script>
    <script src="__PUBLIC__/vendor/bootstrap-table/bootstrap-table/src/bootstrap-table.js"></script>
    <script src="__PUBLIC__/vendor/bootstrap-table/bootstrap-table/src/locale/bootstrap-table-zh-CN.js"></script>
    <title>专家打分</title>
    <style>
        .form-group >div{
            margin: 12px 0;
        }
        .control-label{
            width:110px;
            text-align: right;
        }
        ::-webkit-scrollbar{
            display: none;
        }
        .chosen-container-single .chosen-single {
            min-height: inherit;
            height: 34px!important;
        }
        textarea{
            border-top: 1px solid #a9a9a9;
            border-bottom: 1px solid #a9a9a9;
            border-left: 1px solid #a9a9a9;
            border-right: 1px solid #a9a9a9;
        }
        .must_filter{
            color:red
        }
    </style>
</head>
<body>
<div class="modal-body">
    <form id="sys_dlg_form1" role="form" class="form-horizontal" enctype="multipart/form-data">
        <div class="tab-content">
            <div id="tab-1" class="tab-pane active">
                <div class="panel-body">
                    <div class="form-group">
                        <div >
                            <label class=" control-label">风险名称 <span class="must_filter">*</span>：</label>
                            <input type="text" name="" value="{$riskName}" class="form-control"  disabled style="width:300px;display: inline-block">
                        </div>
                        <div>
                            <label class=" control-label">成本：</label>
                            <input type="text" name="es_cost" value="{$data.es_cost}"  class="form-control"  style="width:300px;display: inline-block">（万元）
                            <label class=" control-label" style="width: 55px">工期：</label>
                            <input  name="es_worktime" type="text"   value="{$data.es_worktime}"   style="width:300px;display: inline-block" class="form-control">（天）
                        </div>
                        <div>
                            <label class=" control-label">概率 <span class="must_filter">*</span>：</label>
                            <select name="" id="propability" class="chosen-select2-short" >
                                <option value="">选择概率</option>
                                <?php foreach($riskProbably as $key=>$value){ ?>
                                <option value="{$value.val}" >{$value.dic_name}</option>
                                <?php } ?>
                            </select>
                            <input id="es_propability"  name="es_propability" type="text"  value="<?php if(isset($data['es_propability'])){echo $data['es_propability'];}else{echo '0';} ?>"   style="width:194px;display: inline-block" class="form-control">
                            <label class=" control-label">影响 <span class="must_filter">*</span>：</label>
                            <select name="" id='affect' class="chosen-select2-short" >
                                <option value="">选择影响</option>
                                <?php foreach($riskAffect as $key=>$value){ ?>
                                <option value="{$value.val}" >{$value.dic_name}</option>
                                <?php } ?>
                            </select>
                            <input id="es_affection"  name="es_affection" type="text"  value="<?php if(isset($data['es_affection'])){echo $data['es_affection'];}else{echo '0';} ?>"   style="width:194px;display: inline-block" class="form-control">
                        </div>
                        <div>
                            <label class=" control-label">风险值 <span class="must_filter">*</span>：</label>
                            <input  id="es_riskvalue" name="es_riskvalue" type="text"  value="<?php if(isset($data['es_riskvalue'])){echo $data['es_riskvalue'];}else{echo '0';} ?>"   style="width:300px;display: inline-block" class="form-control">
                        </div>
                        <div>
                            <label class="control-label " style="vertical-align: top">意见 <span class="must_filter">*</span>：</label>
                            <textarea name="es_suggestion" id="" cols="30" rows="10" style="height: 80px;width:720px;">{$data.es_suggestion}</textarea>
                        </div>
                        <div style="text-align: center">
                            <input type="button" class="btn btn-success" value="保存" style="width:120px;margin-top:10px"  id="sys_dlg_submit">
                        </div>
                        <input type="hidden" value="{$riskId}" id="risk_id" name='risk_id'>
                        <input type="hidden" value="{$processId}" id="processId" name='process_id'>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="" style="text-align: center">
    <h2 style="font-size: 18px;font-weight: bolder;display: inline-block">{$domain}类项目打分规则</h2>
</div>
<div style="text-align: center;">
    <div style="display: inline-block;">
        {$rule_content}
    </div>
</div>
<script type="text/javascript" src="__PUBLIC__/vendor/layui/layui.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/banBackSpace.js"></script>

<script>
    $(function () {
    layui.use('layer', function() {
        layer = layui.layer;
     })
    $(".chosen-select2-short").chosen({disable_search_threshold: 0, search_contains: true, width: '100px'});

    $('#propability').change(function(){
        changeCount();
    })
    $('#affect').change(function(){
        changeCount();
    })
        $('#es_propability').keyup(function(){
            $('#propability option:selected').attr('selected', false);
            var probability = parseFloat($(this).val());
            var propabilityObj = $('#propability option');
            var len = propabilityObj.length;
            for(var i=1;i<len;i++){
                var val =  parseFloat(propabilityObj.eq(i).val());
                if(probability < val){
                    $('#propability').find('option:eq('+i+')').attr('selected', 'selected');
                    $('#propability').trigger("chosen:updated");
                    break;
                }
            }
            var affect =  $('#es_affection').val();
            var probility =   $('#es_propability').val();
            $('#es_riskvalue').val(parseFloat((probility*affect).toFixed(4)));
        })

        $('#es_affection').keyup(function(){
            $('#affect option:selected').attr('selected', false);
            var affect = parseFloat($(this).val());
            var affectObj = $('#affect option');
            var len = affectObj.length;
            for(var i=1;i<len;i++){
                var val =  parseFloat(affectObj.eq(i).val());
                if(affect < val){
                    $('#affect').find('option:eq('+i+')').attr('selected', 'selected');
                    $('#affect').trigger("chosen:updated");
                    break;
                }
            }
            var affect =  $('#es_affection').val();
            var probility =   $('#es_propability').val();
            $('#es_riskvalue').val(parseFloat((probility*affect).toFixed(4)));
        })
    function changeCount(){
        var propability = $('#propability').val();
        $('#es_propability').val(propability);
        var affect =   $('#affect').val();
        $('#es_affection').val(affect);
        $('#es_riskvalue').val(parseFloat((affect*propability).toFixed(4)));
    }
    function keyDowCount(){
        var propability = $('#es_propability').val();
//        $('#propability option').each(function)
        $('#es_propability').val(propability);
        var affect =   $('#affect').val();
        $('#es_affection').val(affect);
        $('#es_riskvalue').val(parseFloat((affect*propability).toFixed(4)));
    }
    $('#es_propability').keydown(function(){
        keyDowCount();
    })
    $('#es_affection').keydown(function(){
        keyDowCount();
    })


    $(".js-switch").each(function(){
        new Switchery(this, {color: '#1AB394'});
    });

    $('#expert').ajaxChosen({
        dataType: 'json',
        type: 'POST',
        url:'__MODULE__/User/getUserLists'
    },{
    });
    $('#sys_dlg_submit').click(function(){
        var formbody = $("#sys_dlg_form1");
        var risk_id = $('#risk_id').val();
        $.ajax({
            type:'post',
            url:'__CONTROLLER__/addExpertScoreData',
            data:formbody.serialize(),
            dataType :'json',
            success:function(data){
                if(data.code > 0){
                    layer.msg('操作成功');
                    parent.$('#expertScore_refresh').click();
                    var index = parent.layer.getFrameIndex(window.name);
                    parent.layer.close(index);
                }else{
                    if(data.code == -1001){
                        layer.alert('请先登录');
                        location.href='__MODULE__/Index/index';
                    }else{
                        layer.alert(data.message);
                    }
                }
            }
        })
    })



});
</script>
</body>
</html>