<?php showViewsByPower() ?>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--[if lte IE 8]>
    <script type="text/javascript" src="__PUBLIC__/vendor/ie8/es5-shim.min.js"></script>
    <![endif]-->
    <link href="__PUBLIC__/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
    
    <link href="__PUBLIC__/vendor/chosen/chosen.css" rel="stylesheet">
    <link href="__PUBLIC__/css/tablepublic.css" rel="stylesheet">
    <link rel="stylesheet" href="__PUBLIC__/vendor/layui/css/layui.css" media="all" />
    <script src="__PUBLIC__/vendor/jquery/jquery1.11.1.js"></script>
    <script src="__PUBLIC__/vendor/bootstrap/js/bootstrap.js"></script>
    <script src="__PUBLIC__/vendor/chosen/chosen.jquery.js"></script>
    <script src="__PUBLIC__/vendor/My97DatePicker/WdatePicker.js"></script>
    <script type="text/javascript" src="__PUBLIC__/vendor/ie8/jquery.form.js"></script>
    <script src="__PUBLIC__/vendor/chosen-ajax-addition/chosen.ajaxaddition.jquery.js"></script>
    <!--[if lte IE 9]>
    <script src="__PUBLIC__/vendor/ie8/respond.min.js"></script>
    <script src="__PUBLIC__/vendor/ie8/html5shiv.js"></script>
    <![endif]-->
    <title>应对措施管理</title>
    <style>
        .control-label{
            width:136px!important;
        }
        .form-group{
            margin: 0;
        }
        .form-group >div{
            margin-top: 3px;
            margin-bottom: 3px;
            width: 35%;
        }
        .chosen-select2{
            z-index: 222;
        }
        .layui-tab-content{
            padding-bottom: 0!important;
        }
        .modal-body{
            padding-bottom: 0!important;
        }
        input,textarea,select{
            margin-bottom: 2px;
        }
        .chosen-container-single .chosen-single{
            margin-top: 2px;
        }
        .form-control{
            border-radius: 2px;
        }
        .chosen-choices{
            margin-bottom: 2px;
        }
        html{
            height: auto;
        }
        .layui-tab{
            margin-bottom: 0!important;
        }
        #layui-title li{
            width: 10%;
        }
        ::-webkit-scrollbar{
            display: none;
        }
        .layui-tab{
            margin: 0;
        }
        .row{
            margin: 0;
        }
        .chosen-container-single .chosen-single {
            /*兼容ie8min-height start*/
            min-height: inherit;
            height: 34px!important;
            /*兼容ie8min-height end*/
        }
    </style>
</head>
<body>
    <div class="modal-body" style="height:540px;overflow: hidden">
        <div class="layui-tab layui-tab-brief" lay-filter="demo">
            <ul class="layui-tab-title" id="layui-title">
                <li class="layui-this layui-tab-item">应对措施详情</li>
                <li class="layui-tab-item">应对措施流程</li>
            </ul>
            <div class="layui-tab-content" id="layui-content" style="padding: 0">
                    <div lay-id="1" class=" layui-tab-item layui-show " style="height: 500px;">
                        <form id="measureForm" class="form-horizontal" enctype="multipart/form-data">
                            <div class="form-group" style="margin-top: 10px;">
                                    <div style="width: 100%;float: left">
                                        <div class="row">
                                            <label class="control-label col-sm-3">措施名称：</label>
                                            <div class="col-sm-3">
                                                <input  name="name" type="text"  value="{$data['msr_name']}" style="width:800px;display: inline-block" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                            </div>
                            <div class="form-group" style="margin-bottom: 3px;">
                                <div style="width: 50%;float: left;margin-top: 3px;">
                                    <div class="row">
                                        <label class=" control-label col-sm-3">所属风险：</label>
                                        <div class="col-sm-3" style="margin-top: 5px">
                                            <!--<input type="text" disabled value="{$riskName.risk_name}" class="form-control"  style="width:300px;display: inline-block">-->
                                            <select name="risk_id" id="risk_id" class="chosen-select2" <?php if(!empty($data)){ ?>disabled<?php } ?> >
                                            <option value="">&nbsp;</option>
                                            <?php foreach($risks as $key=>$value){ ?>
                                            <option value="{$value.risk_id}" <?php if($riskId == $value['risk_id']){echo 'selected';} ?>
                                            <?php if(!empty($data['msr_riskid']) && $data['msr_riskid'] == $value['risk_id'])echo 'selected'; ?> >{$value.risk_name}</option>
                                            <?php } ?>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div style="width: 50%;float: left;">
                                    <div class="row">
                                        <label class="control-label col-sm-3">优先级：</label>
                                        <div class="col-sm-3" style="margin-top: 3px">
                                            <select name="msr_priority" class="chosen-select2" >
                                                <option value="">&nbsp;</option>
                                                <?php foreach($measurePriority as $key=>$value){ ?>
                                                <option value="{$value.val}" <?php if(!empty($data['msr_priority']) && $data['msr_priority'] == $value['val'])echo 'selected'; ?> >{$value.val}</option>
                                                <?php } ?>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="form-group">
                                <div style="width: 50%;float: left">
                                    <div class="row">
                                        <label class="control-label col-sm-3">计划降低值：</label>
                                        <div class="col-sm-3">
                                            <input  name="msr_planreducevalue" type="text"  value="{$data.msr_planreducevalue}"   style="width:300px;display: inline-block" class="form-control">
                                        </div>
                                    </div>
                                </div>

                                <div style="width: 50%;float: left">
                                    <div class="row">
                                        <label class="control-label col-sm-3">实际降低值：</label>
                                        <div class="col-sm-3">
                                            <input  name="msr_realreducevalue" type="text"  value="{$data.msr_realreducevalue}"   style="width:300px;display: inline-block" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div style="width: 50%;float: left">
                                    <div class="row" style="margin-top: 2px">
                                        <label class="control-label col-sm-3">变更情况：</label>
                                        <div class="col-sm-3">
                                            <select name="msr_changesituation" class="chosen-select2" >
                                                <option value="">&nbsp;</option>
                                                <?php foreach($measureChange as $key=>$value){ ?>
                                                <option value="{$value.val}" <?php if(!empty($data['msr_changesituation']) && $data['msr_changesituation'] == $value['val'])echo 'selected'; ?> >{$value.val}</option>
                                                <?php } ?>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div style="width: 50%;float: left">
                                    <div class="row" >
                                        <label class=" col-sm-3 control-label">责任部门：</label>
                                        <div class="col-sm-3" style="margin-top: 5px">
                                            <select name="org" class="chosen-select2" >
                                                <option value="">&nbsp;</option>
                                                <?php foreach($org as $key=>$value){ ?>
                                                <option value="{$value.id}" <?php if(!empty($data['zrbm']) && $data['zrbm'] == $value['id'])echo 'selected'; ?>  >{$value.org_name}</option>
                                                <?php } ?>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" style="padding-top: 5px;*padding-top: 6px;box-sizing: border-box;">
                                <div style="width: 50%;float: left">
                                    <div class="row">
                                        <label class="control-label col-sm-3">责任人：</label>
                                        <div class="col-sm-3">
                                            <select name="person_liable" id="person_liable" class="chosen-select2"  >
                                                <option value="">&nbsp;</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div style="width: 100%;float: left">
                                    <div class="row">
                                        <label class="control-label col-sm-3">措施描述：</label>
                                        <div class="col-sm-3">
                                            <textarea name="msr_description"  cols="10" rows="5" class="form-control" style="display:inline-block;width: 800px;height: 50px;">{$data.msr_description}</textarea>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="form-group">
                                <div style="width: 50%;float: left">
                                    <div class="row">
                                        <label class="control-label col-sm-3">当前进展：</label>
                                        <div class="col-sm-3">
                                            <textarea name="msr_curdescription"  cols="10" rows="5" class="form-control" style="display:inline-block;width: 301px;height: 72px;">{$data.msr_curdescription}</textarea>
                                        </div>
                                    </div>
                                </div>
                                <div style="width: 50%;float: left">
                                    <div class="row">
                                        <label class="control-label col-sm-3">完成情况：</label>
                                        <div class="col-sm-3">
                                            <select name="msr_execution" class="chosen-select2" >
                                                <option value="">&nbsp;</option>
                                                <?php foreach($measureFinish as $key=>$value){ ?>
                                                <option value="{$value.val}" <?php if(!empty($data['msr_execution']) && $data['msr_execution'] == $value['val'])echo 'selected'; ?> >{$value.val}</option>
                                                <?php } ?>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" style="margin-top: 1px">
                                <div style="width: 50%;float: left">
                                    <div class="row" >
                                        <label class="control-label col-sm-3">是否自动发布：</label>
                                        <div class="col-sm-3">
                                            <select name="is_autopub" id="is_autopub" class="chosen-select2" >
                                                <option <?php if( $data['msr_isautopub'] == '0')echo 'selected'; ?> value="0">否</option>
                                                <option <?php if( $data['msr_isautopub'] == '1')echo 'selected'; ?> value="1">是</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div style="width: 50%;float: left;<?php if((isset($data) && $data['msr_isautopub'] != '1')||empty($data) ){echo 'display:none';} ?>" id="auto_pubtime_box" >
                                    <div class="row" style="*padding-top:2px;box-sizing: border-box">
                                        <label class="control-label col-sm-3">自动发布时间：</label>
                                        <div class="col-sm-3">
                                            <div>
                                                <select name="auto_pubtime" class="chosen-select2" >
                                                    <option <?php if(isset($data) && $data['auto_pubtime'] == '发生前')echo 'selected'; ?> value="发生前">风险发生前</option>
                                                    <option <?php if(isset($data) && $data['auto_pubtime'] == '发生后')echo 'selected'; ?> value="发生后">风险发生后</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div lay-id="2" class=" layui-tab-item ">
                        <div class="tab-content">
                            <div>
                                <iframe src="__CONTROLLER__/measureProcess?measure_id={$measureId}"   style="width: 100%;box-sizing:border-box;min-height: 480px;height:100%;overflow-y:hidden;border: none;" frameborder="0"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</body>
<script type="text/javascript" src="__PUBLIC__/vendor/layui/layui.js"></script>
<script type="text/javascript" src="__PUBLIC__/vendor/validate/jquery.validate.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/banBackSpace.js"></script>

<script>
    $(function () {
        layui.use('layer', function () {
            layer = layui.layer;
        })
        layui.use('element', function () {
            var element = layui.element();
            element.on('tab(demo)', function (data) {
            });
        })
        $(".chosen-select2").chosen({disable_search_threshold: 0, search_contains: true, width: '300px'});
        var measure_user = "<?php echo $data['measure_user']; ?>";
        if (measure_user != '') {
            $('#person_liable').append('<option value="<?php echo $data[measure_user_id] ?>" selected  >' + measure_user + '</option>');
            $('#person_liable').trigger("chosen:updated");
        }
        $('#is_autopub').change(function () {
            var val = $(this).val();
            if (val == 1) {
                $('#auto_pubtime_box').show();
            } else {
                $('#auto_pubtime_box').hide();
            }
        })

        $(".js-switch").each(function () {
            new Switchery(this, {color: '#1AB394'});
        });
    })
</script>